html {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: flex-start;
    color: white;
    background-image: url(assets/bg.webp);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
  
     
}

.listing {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    flex-wrap: wrap;
    word-break: break-word;
    border-radius: 10px;
}

#iconm {
    color: white;
}

#main {
    background: rgba(255, 255, 255, 0.161);
    width: 400px;
    padding: 15px;
    margin-top: 100px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

    input {
        margin-top: 10px;
    }

    button {
        margin-top: 10px;
    }

@media (max-width: 480px) {
    #main {
        width: 95%;
    }
}
